<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (organizationRole) {
      <div>
        <h2 data-cy="organizationRoleDetailsHeading">
          <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationRole.detail.title">Organization Role</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ organizationRole.id }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationRole.roleName">Role Name</span></dt>
          <dd>
            <span>{{ organizationRole.roleName }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationRole.activationStatus">Activation Status</span></dt>
          <dd>
            <span jhiTranslate="{{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.' + organizationRole.activationStatus }}">{{
              organizationRole.activationStatus
            }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationRole.organization">Organization</span></dt>
          <dd>
            @if (organizationRole.organization) {
              <div>
                <a [routerLink]="['/organization', organizationRole.organization.id, 'view']">{{ organizationRole.organization.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/organization-role', organizationRole.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
