<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-supplier-heading"
        data-cy="SupplierCreateUpdateHeading"
        jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.home.createOrEditLabel"
      >
        Create or edit a Supplier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.acronym" for="field_acronym"
            >Acronym</label
          >
          <input type="text" class="form-control" name="acronym" id="field_acronym" data-cy="acronym" formControlName="acronym" />
          @if (editForm.get('acronym')!.invalid && (editForm.get('acronym')!.dirty || editForm.get('acronym')!.touched)) {
            <div>
              @if (editForm.get('acronym')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('acronym')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.companyName" for="field_companyName"
            >Company Name</label
          >
          <input
            type="text"
            class="form-control"
            name="companyName"
            id="field_companyName"
            data-cy="companyName"
            formControlName="companyName"
          />
          @if (editForm.get('companyName')!.invalid && (editForm.get('companyName')!.dirty || editForm.get('companyName')!.touched)) {
            <div>
              @if (editForm.get('companyName')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('companyName')?.errors?.minlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }"
                  >This field is required to be at least 2 characters.</small
                >
              }
              @if (editForm.get('companyName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 120 }"
                  >This field cannot be longer than 120 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.streetAddress" for="field_streetAddress"
            >Street Address</label
          >
          <input
            type="text"
            class="form-control"
            name="streetAddress"
            id="field_streetAddress"
            data-cy="streetAddress"
            formControlName="streetAddress"
          />
          @if (editForm.get('streetAddress')!.invalid && (editForm.get('streetAddress')!.dirty || editForm.get('streetAddress')!.touched)) {
            <div>
              @if (editForm.get('streetAddress')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('streetAddress')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 120 }"
                  >This field cannot be longer than 120 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.houseNumber" for="field_houseNumber"
            >House Number</label
          >
          <input
            type="text"
            class="form-control"
            name="houseNumber"
            id="field_houseNumber"
            data-cy="houseNumber"
            formControlName="houseNumber"
          />
          @if (editForm.get('houseNumber')!.invalid && (editForm.get('houseNumber')!.dirty || editForm.get('houseNumber')!.touched)) {
            <div>
              @if (editForm.get('houseNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.locationName" for="field_locationName"
            >Location Name</label
          >
          <input
            type="text"
            class="form-control"
            name="locationName"
            id="field_locationName"
            data-cy="locationName"
            formControlName="locationName"
          />
          @if (editForm.get('locationName')!.invalid && (editForm.get('locationName')!.dirty || editForm.get('locationName')!.touched)) {
            <div>
              @if (editForm.get('locationName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.city" for="field_city">City</label>
          <input type="text" class="form-control" name="city" id="field_city" data-cy="city" formControlName="city" />
          @if (editForm.get('city')!.invalid && (editForm.get('city')!.dirty || editForm.get('city')!.touched)) {
            <div>
              @if (editForm.get('city')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.stateProvince" for="field_stateProvince"
            >State Province</label
          >
          <input
            type="text"
            class="form-control"
            name="stateProvince"
            id="field_stateProvince"
            data-cy="stateProvince"
            formControlName="stateProvince"
          />
          @if (editForm.get('stateProvince')!.invalid && (editForm.get('stateProvince')!.dirty || editForm.get('stateProvince')!.touched)) {
            <div>
              @if (editForm.get('stateProvince')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.zipPostalCode" for="field_zipPostalCode"
            >Zip Postal Code</label
          >
          <input
            type="text"
            class="form-control"
            name="zipPostalCode"
            id="field_zipPostalCode"
            data-cy="zipPostalCode"
            formControlName="zipPostalCode"
          />
          @if (editForm.get('zipPostalCode')!.invalid && (editForm.get('zipPostalCode')!.dirty || editForm.get('zipPostalCode')!.touched)) {
            <div>
              @if (editForm.get('zipPostalCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }"
                  >This field cannot be longer than 15 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.countryRegion" for="field_countryRegion"
            >Country Region</label
          >
          <input
            type="text"
            class="form-control"
            name="countryRegion"
            id="field_countryRegion"
            data-cy="countryRegion"
            formControlName="countryRegion"
          />
          @if (editForm.get('countryRegion')!.invalid && (editForm.get('countryRegion')!.dirty || editForm.get('countryRegion')!.touched)) {
            <div>
              @if (editForm.get('countryRegion')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.pointLocation" for="field_pointLocation"
            >Point Location</label
          >
          <div>
            @if (editForm.get('pointLocation')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('pointLocation')!.value!, editForm.get('pointLocationContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('pointLocationContentType')!.value }}, {{ byteSize(editForm.get('pointLocation')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ pointLocation: undefined, pointLocationContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_pointLocation"
              data-cy="pointLocation"
              (change)="setFileData($event, 'pointLocation', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="pointLocation"
            id="field_pointLocation"
            data-cy="pointLocation"
            formControlName="pointLocation"
          />
          <input
            type="hidden"
            class="form-control"
            name="pointLocationContentType"
            id="field_pointLocationContentType"
            formControlName="pointLocationContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.mainEmail" for="field_mainEmail"
            >Main Email</label
          >
          <input type="text" class="form-control" name="mainEmail" id="field_mainEmail" data-cy="mainEmail" formControlName="mainEmail" />
          @if (editForm.get('mainEmail')!.invalid && (editForm.get('mainEmail')!.dirty || editForm.get('mainEmail')!.touched)) {
            <div>
              @if (editForm.get('mainEmail')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 120 }"
                  >This field cannot be longer than 120 characters.</small
                >
              }
              @if (editForm.get('mainEmail')?.errors?.pattern) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Main Email' }"
                  >This field should follow pattern for Main Email.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.phoneNumber1" for="field_phoneNumber1"
            >Phone Number 1</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber1"
            id="field_phoneNumber1"
            data-cy="phoneNumber1"
            formControlName="phoneNumber1"
          />
          @if (editForm.get('phoneNumber1')!.invalid && (editForm.get('phoneNumber1')!.dirty || editForm.get('phoneNumber1')!.touched)) {
            <div>
              @if (editForm.get('phoneNumber1')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }"
                  >This field cannot be longer than 15 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.phoneNumber2" for="field_phoneNumber2"
            >Phone Number 2</label
          >
          <input
            type="text"
            class="form-control"
            name="phoneNumber2"
            id="field_phoneNumber2"
            data-cy="phoneNumber2"
            formControlName="phoneNumber2"
          />
          @if (editForm.get('phoneNumber2')!.invalid && (editForm.get('phoneNumber2')!.dirty || editForm.get('phoneNumber2')!.touched)) {
            <div>
              @if (editForm.get('phoneNumber2')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }"
                  >This field cannot be longer than 15 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.customAttributesDetailsJSON"
            for="field_customAttributesDetailsJSON"
            >Custom Attributes Details JSON</label
          >
          <input
            type="text"
            class="form-control"
            name="customAttributesDetailsJSON"
            id="field_customAttributesDetailsJSON"
            data-cy="customAttributesDetailsJSON"
            formControlName="customAttributesDetailsJSON"
          />
          @if (
            editForm.get('customAttributesDetailsJSON')!.invalid &&
            (editForm.get('customAttributesDetailsJSON')!.dirty || editForm.get('customAttributesDetailsJSON')!.touched)
          ) {
            <div>
              @if (editForm.get('customAttributesDetailsJSON')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }"
                  >This field cannot be longer than 2048 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.activationStatus"
            for="field_activationStatus"
            >Activation Status</label
          >
          <select
            class="form-control"
            name="activationStatus"
            formControlName="activationStatus"
            id="field_activationStatus"
            data-cy="activationStatus"
          >
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.null' | translate }}</option>
            @for (activationStatusEnum of activationStatusEnumValues; track $index) {
              <option [value]="activationStatusEnum">
                {{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.' + activationStatusEnum | translate }}
              </option>
            }
          </select>
          @if (
            editForm.get('activationStatus')!.invalid &&
            (editForm.get('activationStatus')!.dirty || editForm.get('activationStatus')!.touched)
          ) {
            <div>
              @if (editForm.get('activationStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.supplier.representativePerson"
            for="field_representativePerson"
            >Representative Person</label
          >
          <select
            class="form-control"
            id="field_representativePerson"
            data-cy="representativePerson"
            name="representativePerson"
            formControlName="representativePerson"
            [compareWith]="comparePerson"
          >
            @if (editForm.get(['representativePerson'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (personOption of peopleSharedCollection; track $index) {
              <option [ngValue]="personOption">{{ personOption.lastname }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['representativePerson'])!.invalid &&
          (editForm.get(['representativePerson'])!.dirty || editForm.get(['representativePerson'])!.touched)
        ) {
          <div>
            @if (editForm.get(['representativePerson'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
