<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (assetCollection) {
      <div>
        <h2 data-cy="assetCollectionDetailsHeading">
          <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.assetCollection.detail.title">Asset Collection</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ assetCollection.id }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.assetCollection.name">Name</span></dt>
          <dd>
            <span>{{ assetCollection.name }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.assetCollection.fullFilenamePath">Full Filename Path</span></dt>
          <dd>
            <span>{{ assetCollection.fullFilenamePath }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.assetCollection.activationStatus">Activation Status</span></dt>
          <dd>
            <span jhiTranslate="{{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.' + assetCollection.activationStatus }}">{{
              assetCollection.activationStatus
            }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.assetCollection.asset">Asset</span></dt>
          <dd>
            @for (asset of assetCollection.assets; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/asset', asset.id, 'view']">{{ asset.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/asset-collection', assetCollection.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
