<div>
  <h2 id="page-heading" data-cy="StockLevelHeading">
    <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.home.title">Stock Levels</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stock-level"
        [routerLink]="['/stock-level/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.home.createLabel">Create a new Stock Level</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (stockLevels?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.home.notFound">No Stock Levels found</span>
    </div>
  }

  @if (stockLevels && stockLevels.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="ramainingQuantity">
              <div class="d-flex">
                <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.ramainingQuantity">Ramaining Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="extraDetails">
              <div class="d-flex">
                <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.extraDetails">Extra Details</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="warehouse.acronym">
              <div class="d-flex">
                <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.warehouse">Warehouse</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="product.productName">
              <div class="d-flex">
                <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.stockLevel.product">Product</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (stockLevel of stockLevels; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/stock-level', stockLevel.id, 'view']">{{ stockLevel.id }}</a>
              </td>
              <td>{{ stockLevel.lastModifiedDate | formatMediumDatetime }}</td>
              <td>{{ stockLevel.ramainingQuantity }}</td>
              <td>{{ stockLevel.extraDetails }}</td>
              <td>
                @if (stockLevel.warehouse) {
                  <div>
                    <a [routerLink]="['/warehouse', stockLevel.warehouse.id, 'view']">{{ stockLevel.warehouse.acronym }}</a>
                  </div>
                }
              </td>
              <td>
                @if (stockLevel.product) {
                  <div>
                    <a [routerLink]="['/product', stockLevel.product.id, 'view']">{{ stockLevel.product.productName }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/stock-level', stockLevel.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/stock-level', stockLevel.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(stockLevel)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (stockLevels && stockLevels.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
