<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customerType) {
      <div>
        <h2 data-cy="customerTypeDetailsHeading">
          <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.customerType.detail.title">Customer Type</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customerType.id }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.customerType.name">Name</span></dt>
          <dd>
            <span>{{ customerType.name }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.customerType.description">Description</span></dt>
          <dd>
            <span>{{ customerType.description }}</span>
          </dd>
          <dt>
            <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.customerType.businessHandlerClazz">Business Handler Clazz</span>
          </dt>
          <dd>
            <span>{{ customerType.businessHandlerClazz }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/customer-type', customerType.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
