<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-payment-heading"
        data-cy="PaymentCreateUpdateHeading"
        jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.home.createOrEditLabel"
      >
        Create or edit a Payment
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.installmentNumber"
            for="field_installmentNumber"
            >Installment Number</label
          >
          <input
            type="number"
            class="form-control"
            name="installmentNumber"
            id="field_installmentNumber"
            data-cy="installmentNumber"
            formControlName="installmentNumber"
          />
          @if (
            editForm.get('installmentNumber')!.invalid &&
            (editForm.get('installmentNumber')!.dirty || editForm.get('installmentNumber')!.touched)
          ) {
            <div>
              @if (editForm.get('installmentNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('installmentNumber')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.paymentDueDate" for="field_paymentDueDate"
            >Payment Due Date</label
          >
          <div class="d-flex">
            <input
              id="field_paymentDueDate"
              data-cy="paymentDueDate"
              type="datetime-local"
              class="form-control"
              name="paymentDueDate"
              formControlName="paymentDueDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (
            editForm.get('paymentDueDate')!.invalid && (editForm.get('paymentDueDate')!.dirty || editForm.get('paymentDueDate')!.touched)
          ) {
            <div>
              @if (editForm.get('paymentDueDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('paymentDueDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.paymentPaidDate" for="field_paymentPaidDate"
            >Payment Paid Date</label
          >
          <div class="d-flex">
            <input
              id="field_paymentPaidDate"
              data-cy="paymentPaidDate"
              type="datetime-local"
              class="form-control"
              name="paymentPaidDate"
              formControlName="paymentPaidDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (
            editForm.get('paymentPaidDate')!.invalid && (editForm.get('paymentPaidDate')!.dirty || editForm.get('paymentPaidDate')!.touched)
          ) {
            <div>
              @if (editForm.get('paymentPaidDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('paymentPaidDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.paymentAmount" for="field_paymentAmount"
            >Payment Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="paymentAmount"
            id="field_paymentAmount"
            data-cy="paymentAmount"
            formControlName="paymentAmount"
          />
          @if (editForm.get('paymentAmount')!.invalid && (editForm.get('paymentAmount')!.dirty || editForm.get('paymentAmount')!.touched)) {
            <div>
              @if (editForm.get('paymentAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('paymentAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.typeOfPayment" for="field_typeOfPayment"
            >Type Of Payment</label
          >
          <select
            class="form-control"
            name="typeOfPayment"
            formControlName="typeOfPayment"
            id="field_typeOfPayment"
            data-cy="typeOfPayment"
          >
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.PaymentTypeEnum.null' | translate }}</option>
            @for (paymentTypeEnum of paymentTypeEnumValues; track $index) {
              <option [value]="paymentTypeEnum">
                {{ 'azimuteErpQuarkusAngularMonolith02App.PaymentTypeEnum.' + paymentTypeEnum | translate }}
              </option>
            }
          </select>
          @if (editForm.get('typeOfPayment')!.invalid && (editForm.get('typeOfPayment')!.dirty || editForm.get('typeOfPayment')!.touched)) {
            <div>
              @if (editForm.get('typeOfPayment')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.statusPayment" for="field_statusPayment"
            >Status Payment</label
          >
          <select
            class="form-control"
            name="statusPayment"
            formControlName="statusPayment"
            id="field_statusPayment"
            data-cy="statusPayment"
          >
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.PaymentStatusEnum.null' | translate }}</option>
            @for (paymentStatusEnum of paymentStatusEnumValues; track $index) {
              <option [value]="paymentStatusEnum">
                {{ 'azimuteErpQuarkusAngularMonolith02App.PaymentStatusEnum.' + paymentStatusEnum | translate }}
              </option>
            }
          </select>
          @if (editForm.get('statusPayment')!.invalid && (editForm.get('statusPayment')!.dirty || editForm.get('statusPayment')!.touched)) {
            <div>
              @if (editForm.get('statusPayment')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.customAttributesDetailsJSON"
            for="field_customAttributesDetailsJSON"
            >Custom Attributes Details JSON</label
          >
          <input
            type="text"
            class="form-control"
            name="customAttributesDetailsJSON"
            id="field_customAttributesDetailsJSON"
            data-cy="customAttributesDetailsJSON"
            formControlName="customAttributesDetailsJSON"
          />
          @if (
            editForm.get('customAttributesDetailsJSON')!.invalid &&
            (editForm.get('customAttributesDetailsJSON')!.dirty || editForm.get('customAttributesDetailsJSON')!.touched)
          ) {
            <div>
              @if (editForm.get('customAttributesDetailsJSON')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }"
                  >This field cannot be longer than 2048 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.activationStatus"
            for="field_activationStatus"
            >Activation Status</label
          >
          <select
            class="form-control"
            name="activationStatus"
            formControlName="activationStatus"
            id="field_activationStatus"
            data-cy="activationStatus"
          >
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.null' | translate }}</option>
            @for (activationStatusEnum of activationStatusEnumValues; track $index) {
              <option [value]="activationStatusEnum">
                {{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.' + activationStatusEnum | translate }}
              </option>
            }
          </select>
          @if (
            editForm.get('activationStatus')!.invalid &&
            (editForm.get('activationStatus')!.dirty || editForm.get('activationStatus')!.touched)
          ) {
            <div>
              @if (editForm.get('activationStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.payment.paymentGateway" for="field_paymentGateway"
            >Payment Gateway</label
          >
          <select
            class="form-control"
            id="field_paymentGateway"
            data-cy="paymentGateway"
            name="paymentGateway"
            formControlName="paymentGateway"
            [compareWith]="comparePaymentGateway"
          >
            @if (editForm.get(['paymentGateway'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (paymentGatewayOption of paymentGatewaysSharedCollection; track $index) {
              <option [ngValue]="paymentGatewayOption">{{ paymentGatewayOption.aliasCode }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['paymentGateway'])!.invalid &&
          (editForm.get(['paymentGateway'])!.dirty || editForm.get(['paymentGateway'])!.touched)
        ) {
          <div>
            @if (editForm.get(['paymentGateway'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
