<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (organizationMemberRole) {
      <div>
        <h2 data-cy="organizationMemberRoleDetailsHeading">
          <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.detail.title">Organization Member Role</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ organizationMemberRole.id }}</span>
          </dd>
          <dt><span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.joinedAt">Joined At</span></dt>
          <dd>
            <span>{{ organizationMemberRole.joinedAt | formatMediumDate }}</span>
          </dd>
          <dt>
            <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.organizationMembership"
              >Organization Membership</span
            >
          </dt>
          <dd>
            @if (organizationMemberRole.organizationMembership) {
              <div>
                <a [routerLink]="['/organization-membership', organizationMemberRole.organizationMembership.id, 'view']">{{
                  organizationMemberRole.organizationMembership.id
                }}</a>
              </div>
            }
          </dd>
          <dt>
            <span jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.organizationRole">Organization Role</span>
          </dt>
          <dd>
            @if (organizationMemberRole.organizationRole) {
              <div>
                <a [routerLink]="['/organization-role', organizationMemberRole.organizationRole.id, 'view']">{{
                  organizationMemberRole.organizationRole.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/organization-member-role', organizationMemberRole.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
