<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-country-heading"
        data-cy="CountryCreateUpdateHeading"
        jhiTranslate="azimuteErpQuarkusAngularMonolith02App.country.home.createOrEditLabel"
      >
        Create or edit a Country
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.country.acronym" for="field_acronym">Acronym</label>
          <input type="text" class="form-control" name="acronym" id="field_acronym" data-cy="acronym" formControlName="acronym" />
          @if (editForm.get('acronym')!.invalid && (editForm.get('acronym')!.dirty || editForm.get('acronym')!.touched)) {
            <div>
              @if (editForm.get('acronym')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('acronym')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 3 }"
                  >This field cannot be longer than 3 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.country.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }"
                  >This field cannot be longer than 40 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.country.continent" for="field_continent"
            >Continent</label
          >
          <select class="form-control" name="continent" formControlName="continent" id="field_continent" data-cy="continent">
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.ContinentEnum.null' | translate }}</option>
            @for (continentEnum of continentEnumValues; track $index) {
              <option [value]="continentEnum">
                {{ 'azimuteErpQuarkusAngularMonolith02App.ContinentEnum.' + continentEnum | translate }}
              </option>
            }
          </select>
          @if (editForm.get('continent')!.invalid && (editForm.get('continent')!.dirty || editForm.get('continent')!.touched)) {
            <div>
              @if (editForm.get('continent')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.country.geoPolygonArea" for="field_geoPolygonArea"
            >Geo Polygon Area</label
          >
          <div>
            @if (editForm.get('geoPolygonArea')!.value) {
              <div class="form-text text-danger clearfix">
                <a
                  class="pull-start"
                  (click)="openFile(editForm.get('geoPolygonArea')!.value!, editForm.get('geoPolygonAreaContentType')!.value!)"
                  jhiTranslate="entity.action.open"
                  >Open</a
                ><br />
                <span class="pull-start"
                  >{{ editForm.get('geoPolygonAreaContentType')!.value }}, {{ byteSize(editForm.get('geoPolygonArea')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="editForm.patchValue({ geoPolygonArea: undefined, geoPolygonAreaContentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_geoPolygonArea"
              data-cy="geoPolygonArea"
              (change)="setFileData($event, 'geoPolygonArea', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="geoPolygonArea"
            id="field_geoPolygonArea"
            data-cy="geoPolygonArea"
            formControlName="geoPolygonArea"
          />
          <input
            type="hidden"
            class="form-control"
            name="geoPolygonAreaContentType"
            id="field_geoPolygonAreaContentType"
            formControlName="geoPolygonAreaContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
