<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-organization-member-role-heading"
        data-cy="OrganizationMemberRoleCreateUpdateHeading"
        jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.home.createOrEditLabel"
      >
        Create or edit a Organization Member Role
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.joinedAt"
            for="field_joinedAt"
            >Joined At</label
          >
          <div class="input-group">
            <input
              id="field_joinedAt"
              data-cy="joinedAt"
              type="text"
              class="form-control"
              name="joinedAt"
              ngbDatepicker
              #joinedAtDp="ngbDatepicker"
              formControlName="joinedAt"
            />
            <button type="button" class="btn btn-secondary" (click)="joinedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('joinedAt')!.invalid && (editForm.get('joinedAt')!.dirty || editForm.get('joinedAt')!.touched)) {
            <div>
              @if (editForm.get('joinedAt')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.organizationMembership"
            for="field_organizationMembership"
            >Organization Membership</label
          >
          <select
            class="form-control"
            id="field_organizationMembership"
            data-cy="organizationMembership"
            name="organizationMembership"
            formControlName="organizationMembership"
            [compareWith]="compareOrganizationMembership"
          >
            @if (editForm.get(['organizationMembership'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (organizationMembershipOption of organizationMembershipsSharedCollection; track $index) {
              <option [ngValue]="organizationMembershipOption">{{ organizationMembershipOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['organizationMembership'])!.invalid &&
          (editForm.get(['organizationMembership'])!.dirty || editForm.get(['organizationMembership'])!.touched)
        ) {
          <div>
            @if (editForm.get(['organizationMembership'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.organizationMemberRole.organizationRole"
            for="field_organizationRole"
            >Organization Role</label
          >
          <select
            class="form-control"
            id="field_organizationRole"
            data-cy="organizationRole"
            name="organizationRole"
            formControlName="organizationRole"
            [compareWith]="compareOrganizationRole"
          >
            @if (editForm.get(['organizationRole'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (organizationRoleOption of organizationRolesSharedCollection; track $index) {
              <option [ngValue]="organizationRoleOption">{{ organizationRoleOption.id }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['organizationRole'])!.invalid &&
          (editForm.get(['organizationRole'])!.dirty || editForm.get(['organizationRole'])!.touched)
        ) {
          <div>
            @if (editForm.get(['organizationRole'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
