<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-person-heading"
        data-cy="PersonCreateUpdateHeading"
        jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.home.createOrEditLabel"
      >
        Create or edit a Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.firstname" for="field_firstname"
            >Firstname</label
          >
          <input type="text" class="form-control" name="firstname" id="field_firstname" data-cy="firstname" formControlName="firstname" />
          @if (editForm.get('firstname')!.invalid && (editForm.get('firstname')!.dirty || editForm.get('firstname')!.touched)) {
            <div>
              @if (editForm.get('firstname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('firstname')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.lastname" for="field_lastname"
            >Lastname</label
          >
          <input type="text" class="form-control" name="lastname" id="field_lastname" data-cy="lastname" formControlName="lastname" />
          @if (editForm.get('lastname')!.invalid && (editForm.get('lastname')!.dirty || editForm.get('lastname')!.touched)) {
            <div>
              @if (editForm.get('lastname')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('lastname')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.fullname" for="field_fullname"
            >Fullname</label
          >
          <input type="text" class="form-control" name="fullname" id="field_fullname" data-cy="fullname" formControlName="fullname" />
          @if (editForm.get('fullname')!.invalid && (editForm.get('fullname')!.dirty || editForm.get('fullname')!.touched)) {
            <div>
              @if (editForm.get('fullname')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }"
                  >This field cannot be longer than 100 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.birthDate" for="field_birthDate"
            >Birth Date</label
          >
          <div class="input-group">
            <input
              id="field_birthDate"
              data-cy="birthDate"
              type="text"
              class="form-control"
              name="birthDate"
              ngbDatepicker
              #birthDateDp="ngbDatepicker"
              formControlName="birthDate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          @if (editForm.get('birthDate')!.invalid && (editForm.get('birthDate')!.dirty || editForm.get('birthDate')!.touched)) {
            <div>
              @if (editForm.get('birthDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.gender" for="field_gender">Gender</label>
          <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.GenderEnum.null' | translate }}</option>
            @for (genderEnum of genderEnumValues; track $index) {
              <option [value]="genderEnum">{{ 'azimuteErpQuarkusAngularMonolith02App.GenderEnum.' + genderEnum | translate }}</option>
            }
          </select>
          @if (editForm.get('gender')!.invalid && (editForm.get('gender')!.dirty || editForm.get('gender')!.touched)) {
            <div>
              @if (editForm.get('gender')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.codeBI" for="field_codeBI">Code BI</label>
          <input type="text" class="form-control" name="codeBI" id="field_codeBI" data-cy="codeBI" formControlName="codeBI" />
          @if (editForm.get('codeBI')!.invalid && (editForm.get('codeBI')!.dirty || editForm.get('codeBI')!.touched)) {
            <div>
              @if (editForm.get('codeBI')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.codeNIF" for="field_codeNIF">Code NIF</label>
          <input type="text" class="form-control" name="codeNIF" id="field_codeNIF" data-cy="codeNIF" formControlName="codeNIF" />
          @if (editForm.get('codeNIF')!.invalid && (editForm.get('codeNIF')!.dirty || editForm.get('codeNIF')!.touched)) {
            <div>
              @if (editForm.get('codeNIF')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.streetAddress" for="field_streetAddress"
            >Street Address</label
          >
          <input
            type="text"
            class="form-control"
            name="streetAddress"
            id="field_streetAddress"
            data-cy="streetAddress"
            formControlName="streetAddress"
          />
          @if (editForm.get('streetAddress')!.invalid && (editForm.get('streetAddress')!.dirty || editForm.get('streetAddress')!.touched)) {
            <div>
              @if (editForm.get('streetAddress')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('streetAddress')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 120 }"
                  >This field cannot be longer than 120 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.houseNumber" for="field_houseNumber"
            >House Number</label
          >
          <input
            type="text"
            class="form-control"
            name="houseNumber"
            id="field_houseNumber"
            data-cy="houseNumber"
            formControlName="houseNumber"
          />
          @if (editForm.get('houseNumber')!.invalid && (editForm.get('houseNumber')!.dirty || editForm.get('houseNumber')!.touched)) {
            <div>
              @if (editForm.get('houseNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }"
                  >This field cannot be longer than 20 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.locationName" for="field_locationName"
            >Location Name</label
          >
          <input
            type="text"
            class="form-control"
            name="locationName"
            id="field_locationName"
            data-cy="locationName"
            formControlName="locationName"
          />
          @if (editForm.get('locationName')!.invalid && (editForm.get('locationName')!.dirty || editForm.get('locationName')!.touched)) {
            <div>
              @if (editForm.get('locationName')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.postalCode" for="field_postalCode"
            >Postal Code</label
          >
          <input
            type="text"
            class="form-control"
            name="postalCode"
            id="field_postalCode"
            data-cy="postalCode"
            formControlName="postalCode"
          />
          @if (editForm.get('postalCode')!.invalid && (editForm.get('postalCode')!.dirty || editForm.get('postalCode')!.touched)) {
            <div>
              @if (editForm.get('postalCode')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('postalCode')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 9 }"
                  >This field cannot be longer than 9 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.mainEmail" for="field_mainEmail"
            >Main Email</label
          >
          <input type="text" class="form-control" name="mainEmail" id="field_mainEmail" data-cy="mainEmail" formControlName="mainEmail" />
          @if (editForm.get('mainEmail')!.invalid && (editForm.get('mainEmail')!.dirty || editForm.get('mainEmail')!.touched)) {
            <div>
              @if (editForm.get('mainEmail')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('mainEmail')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 120 }"
                  >This field cannot be longer than 120 characters.</small
                >
              }
              @if (editForm.get('mainEmail')?.errors?.pattern) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'Main Email' }"
                  >This field should follow pattern for Main Email.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.landPhoneNumber" for="field_landPhoneNumber"
            >Land Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="landPhoneNumber"
            id="field_landPhoneNumber"
            data-cy="landPhoneNumber"
            formControlName="landPhoneNumber"
          />
          @if (
            editForm.get('landPhoneNumber')!.invalid && (editForm.get('landPhoneNumber')!.dirty || editForm.get('landPhoneNumber')!.touched)
          ) {
            <div>
              @if (editForm.get('landPhoneNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }"
                  >This field cannot be longer than 15 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.mobilePhoneNumber"
            for="field_mobilePhoneNumber"
            >Mobile Phone Number</label
          >
          <input
            type="text"
            class="form-control"
            name="mobilePhoneNumber"
            id="field_mobilePhoneNumber"
            data-cy="mobilePhoneNumber"
            formControlName="mobilePhoneNumber"
          />
          @if (
            editForm.get('mobilePhoneNumber')!.invalid &&
            (editForm.get('mobilePhoneNumber')!.dirty || editForm.get('mobilePhoneNumber')!.touched)
          ) {
            <div>
              @if (editForm.get('mobilePhoneNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 15 }"
                  >This field cannot be longer than 15 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.occupation" for="field_occupation"
            >Occupation</label
          >
          <input
            type="text"
            class="form-control"
            name="occupation"
            id="field_occupation"
            data-cy="occupation"
            formControlName="occupation"
          />
          @if (editForm.get('occupation')!.invalid && (editForm.get('occupation')!.dirty || editForm.get('occupation')!.touched)) {
            <div>
              @if (editForm.get('occupation')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }"
                  >This field cannot be longer than 40 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.preferredLanguage"
            for="field_preferredLanguage"
            >Preferred Language</label
          >
          <input
            type="text"
            class="form-control"
            name="preferredLanguage"
            id="field_preferredLanguage"
            data-cy="preferredLanguage"
            formControlName="preferredLanguage"
          />
          @if (
            editForm.get('preferredLanguage')!.invalid &&
            (editForm.get('preferredLanguage')!.dirty || editForm.get('preferredLanguage')!.touched)
          ) {
            <div>
              @if (editForm.get('preferredLanguage')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 5 }"
                  >This field cannot be longer than 5 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.usernameInOAuth2"
            for="field_usernameInOAuth2"
            >Username In O Auth 2</label
          >
          <input
            type="text"
            class="form-control"
            name="usernameInOAuth2"
            id="field_usernameInOAuth2"
            data-cy="usernameInOAuth2"
            formControlName="usernameInOAuth2"
          />
          @if (
            editForm.get('usernameInOAuth2')!.invalid &&
            (editForm.get('usernameInOAuth2')!.dirty || editForm.get('usernameInOAuth2')!.touched)
          ) {
            <div>
              @if (editForm.get('usernameInOAuth2')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 40 }"
                  >This field cannot be longer than 40 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.userIdInOAuth2" for="field_userIdInOAuth2"
            >User Id In O Auth 2</label
          >
          <input
            type="text"
            class="form-control"
            name="userIdInOAuth2"
            id="field_userIdInOAuth2"
            data-cy="userIdInOAuth2"
            formControlName="userIdInOAuth2"
          />
          @if (
            editForm.get('userIdInOAuth2')!.invalid && (editForm.get('userIdInOAuth2')!.dirty || editForm.get('userIdInOAuth2')!.touched)
          ) {
            <div>
              @if (editForm.get('userIdInOAuth2')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 80 }"
                  >This field cannot be longer than 80 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.customAttributesDetailsJSON"
            for="field_customAttributesDetailsJSON"
            >Custom Attributes Details JSON</label
          >
          <input
            type="text"
            class="form-control"
            name="customAttributesDetailsJSON"
            id="field_customAttributesDetailsJSON"
            data-cy="customAttributesDetailsJSON"
            formControlName="customAttributesDetailsJSON"
          />
          @if (
            editForm.get('customAttributesDetailsJSON')!.invalid &&
            (editForm.get('customAttributesDetailsJSON')!.dirty || editForm.get('customAttributesDetailsJSON')!.touched)
          ) {
            <div>
              @if (editForm.get('customAttributesDetailsJSON')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 2048 }"
                  >This field cannot be longer than 2048 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.activationStatus"
            for="field_activationStatus"
            >Activation Status</label
          >
          <select
            class="form-control"
            name="activationStatus"
            formControlName="activationStatus"
            id="field_activationStatus"
            data-cy="activationStatus"
          >
            <option [ngValue]="null">{{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.null' | translate }}</option>
            @for (activationStatusEnum of activationStatusEnumValues; track $index) {
              <option [value]="activationStatusEnum">
                {{ 'azimuteErpQuarkusAngularMonolith02App.ActivationStatusEnum.' + activationStatusEnum | translate }}
              </option>
            }
          </select>
          @if (
            editForm.get('activationStatus')!.invalid &&
            (editForm.get('activationStatus')!.dirty || editForm.get('activationStatus')!.touched)
          ) {
            <div>
              @if (editForm.get('activationStatus')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.avatarImg" for="field_avatarImg"
            >Avatar Img</label
          >
          <div>
            @if (editForm.get('avatarImg')!.value) {
              <img
                [src]="'data:' + editForm.get('avatarImgContentType')!.value + ';base64,' + editForm.get('avatarImg')!.value"
                style="max-height: 100px"
                alt="person"
              />
            }
            @if (editForm.get('avatarImg')!.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start"
                  >{{ editForm.get('avatarImgContentType')!.value }}, {{ byteSize(editForm.get('avatarImg')!.value!) }}</span
                >
                <button
                  type="button"
                  (click)="clearInputImage('avatarImg', 'avatarImgContentType', 'file_avatarImg')"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times"></fa-icon>
                </button>
              </div>
            }
            <input
              type="file"
              id="file_avatarImg"
              data-cy="avatarImg"
              (change)="setFileData($event, 'avatarImg', true)"
              accept="image/*"
              jhiTranslate="entity.action.addimage"
            />
          </div>
          <input type="hidden" class="form-control" name="avatarImg" id="field_avatarImg" data-cy="avatarImg" formControlName="avatarImg" />
          <input
            type="hidden"
            class="form-control"
            name="avatarImgContentType"
            id="field_avatarImgContentType"
            formControlName="avatarImgContentType"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.typeOfPerson" for="field_typeOfPerson"
            >Type Of Person</label
          >
          <select
            class="form-control"
            id="field_typeOfPerson"
            data-cy="typeOfPerson"
            name="typeOfPerson"
            formControlName="typeOfPerson"
            [compareWith]="compareTypeOfPerson"
          >
            @if (editForm.get(['typeOfPerson'])!.value == null) {
              <option [ngValue]="null" selected></option>
            }
            @for (typeOfPersonOption of typeOfPeopleSharedCollection; track $index) {
              <option [ngValue]="typeOfPersonOption">{{ typeOfPersonOption.code }}</option>
            }
          </select>
        </div>
        @if (
          editForm.get(['typeOfPerson'])!.invalid && (editForm.get(['typeOfPerson'])!.dirty || editForm.get(['typeOfPerson'])!.touched)
        ) {
          <div>
            @if (editForm.get(['typeOfPerson'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.district" for="field_district"
            >District</label
          >
          <select
            class="form-control"
            id="field_district"
            data-cy="district"
            name="district"
            formControlName="district"
            [compareWith]="compareDistrict"
          >
            <option [ngValue]="null"></option>
            @for (districtOption of districtsSharedCollection; track $index) {
              <option [ngValue]="districtOption">{{ districtOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="azimuteErpQuarkusAngularMonolith02App.person.managerPerson" for="field_managerPerson"
            >Manager Person</label
          >
          <select
            class="form-control"
            id="field_managerPerson"
            data-cy="managerPerson"
            name="managerPerson"
            formControlName="managerPerson"
            [compareWith]="comparePerson"
          >
            <option [ngValue]="null"></option>
            @for (personOption of peopleSharedCollection; track $index) {
              <option [ngValue]="personOption">{{ personOption.lastname }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
